* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  padding: 24px 160px;
}

.main-padding-x {
  padding-left: 160px;
  padding-right: 160px;
}

.pad-y-lg {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-lg);
}

.text-underline {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.icon {
    height: 13px;
    width: auto;
    margin-right: 4px;
}

.text-color-primary {
  color: var(--primary-color);
}

.nav-list-black ul a {
  color: black;
  font-size: var(--font-size-sm);
  gap: 4px;
}

.italic {
  font-style: italic;
}


.blue-arrow-bg {
  background: none;
  background-image: url("../../assets/images/button-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}